:root {
  --nav-top: -10em;
  --slide-nav: -100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}
body,
html {
  overflow-x: clip;
}

a,
button {
  background-color: inherit;
  border: inherit;
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
nav {
  overflow-x: clip;
  padding: 0.5em 3em;
  border-radius: 2em;
  text-transform: uppercase;
  z-index: 999;
  position: absolute;
  top: 2em;
  left: 50%;
  translate: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
  color: white;
  font-size: calc(1rem + 0.1vw);
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
  }
  & img {
    height: 2.5em;
  }
  .menu {
    display: none;
  }
}
nav a {
  transition: scale 0.1s;
}
nav a:hover {
  scale: 0.9;
}

#pop-nav {
  top: var(--nav-top);
  position: fixed;
  background: linear-gradient(100deg, #e27751, #ffa740);
  box-shadow: 0 0.1em 0.3em 0 rgba(0, 0, 0, 0.25);
  transition: top 0.3s;
}

#slide-nav {
  display: none;
}

@media (width < 1000px) {
  #slide-nav {
    display: initial;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: calc(1rem + 1vw);
    padding: 1.5em 2em;
    transition: right 0.5s;
    position: fixed;
    top: 5em;
    right: var(--slide-nav);
    flex-direction: column;
    background: linear-gradient(100deg, #e27751, #ffa740);
    box-shadow: 0 0.1em 0.3em 0 rgba(0, 0, 0, 0.25);
    gap: 1.5em;
    z-index: 100;
    border-radius: 2em;
  }
  nav:not(#pop-nav) {
    top: 0;
    padding: 1em 0;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: flex-start;
    pointer-events: none;
    > * {
      pointer-events: all;
    }
    .menu {
      display: initial;
      position: fixed;
      right: 7vw;
      font-size: 3em;
    }
    .nav-links {
      display: none;
    }
    & img {
      margin-top: 0.4em;
      left: 7vw;
      position: absolute;
    }
  }
  #pop-nav {
    position: fixed;
    top: calc(var(--nav-top) / 2);
    right: -2em;
    left: unset;
    padding: 0.5em 1.5em;
    .menu {
      display: initial;
      font-size: 3em;
    }
    .nav-links {
      display: none;
    }
  }
}

.svg-goo {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  z-index: -1;
}
header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  > div {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  & h1 {
    font-size: calc(2rem + 1.5vw);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 111%;
  }
  p {
    font-size: calc(1rem + 0.3vw);
  }
  button {
    color: #11998e;
    background-color: white;
    font-size: calc(1rem + 0.2vw);
    padding: 0.5em 1.5em;
    border-radius: 2em;
  }
  .buttons {
    display: flex;
    gap: 1em;
  }
  .svg-goo {
    height: 90vh;
  }
  .phone {
    margin-top: 10vh;
    height: 60vh;
    object-fit: contain;
  }
  & button {
    outline: 0px solid white;
    outline-offset: -1px;
    transition: outline 0.1s, outline-offset 0.1s;
  }
  & button:hover {
    outline: 1px solid white;
    outline-offset: 5px;
  }
}

@media (width < 1000px) {
  header {
    gap: 5em;
    padding: 0 2em;
    flex-direction: column;
    & .svg-goo {
      height: 120vh;
    }
    > div {
      margin-top: 25vh;
      justify-content: center;
      align-items: center;
    }
    & h1 {
      font-size: calc(1.5rem + 1vw);
    }
    .phone {
      margin-top: 0;
    }
    & br {
      display: none;
    }
    & p {
      max-width: 50ch;
    }
  }
}

section {
  height: 100vh;
}
