/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --nav-top: -10em;
  --slide-nav: -100%;
  --small: calc(1rem + 0.1vw);
  --medium: calc(1rem + 0.3vw);
  --large: calc(2rem + 1.5vw);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}
body,
html {
  overflow-x: clip;
}

a,
button {
  background-color: inherit;
  border: inherit;
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
nav {
  overflow-x: clip;
  padding: 0.5em 3em;
  border-radius: 2em;
  text-transform: uppercase;
  z-index: 999;
  position: absolute;
  top: 2em;
  left: 50%;
  translate: -50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10em;
  color: white;
  font-size: var(--small);
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5em;
  }
  & img {
    height: 2.5em;
  }
  .menu-button {
    display: none;
  }
}
nav a {
  -webkit-transition: scale 0.1s;
  -o-transition: scale 0.1s;
  transition: scale 0.1s;
}
nav a:hover {
  scale: 0.9;
}

#pop-nav {
  top: var(--nav-top);
  position: fixed;
  background: -o-linear-gradient(350deg, #e27751, #ffa740);
  background: linear-gradient(100deg, #e27751, #ffa740);
  -webkit-box-shadow: 0 0.1em 0.3em 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.1em 0.3em 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
}

#slide-nav {
  display: none;
}

@media (width < 1000px) {
  #slide-nav {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: calc(1rem + 1vw);
    padding: 1.5em 2em;
    -webkit-transition: right 0.5s;
    -o-transition: right 0.5s;
    transition: right 0.5s;
    position: fixed;
    top: 5em;
    right: var(--slide-nav);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: -o-linear-gradient(350deg, #e27751, #ffa740);
    background: linear-gradient(100deg, #e27751, #ffa740);
    -webkit-box-shadow: 0 0.1em 0.3em 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0.1em 0.3em 0 rgba(0, 0, 0, 0.25);
    gap: 1.5em;
    z-index: 100;
    border-radius: 2em;
  }
  nav:not(#pop-nav) {
    top: 0;
    padding: 1em 0;
    width: 100vw;
    height: 100vh;
    height: 100lvh;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    pointer-events: none;
    > * {
      pointer-events: all;
    }
    .menu-button {
      display: initial;
      position: fixed;
      right: 7vw;
      font-size: 3em;
    }
    .nav-links {
      display: none;
    }
    & img {
      margin-top: 0.4em;
      left: 7vw;
      position: absolute;
    }
  }
  #pop-nav {
    position: fixed;
    top: calc(var(--nav-top) / 2);
    right: -2em;
    left: unset;
    padding: 0.5em 1.5em;
    .menu-button {
      display: initial;
      font-size: 3em;
    }
    .nav-links {
      display: none;
    }
  }
}

.svg-goo {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  z-index: -1;
}
header {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10em;
  position: relative;
  min-height: 100vh;
  min-height: 100svh;
  width: 100vw;
  > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2em;
  }
  & h1 {
    font-size: var(--large);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 111%;
    position: relative;
  }

  & p {
    font-size: var(--medium);
  }
  & a {
    color: #11998e;
    background-color: white;
    font-size: calc(1rem + 0.2vw);
    padding: 0.5em 1.5em;
    border-radius: 2em;
  }
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
  }
  .svg-goo {
    height: 90vh;
    height: 90lvh;
  }
  .phone {
    margin-top: 10lvh;
    height: 60vh;
    margin-top: 10vh;
    height: 60svh;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
    border-radius: 0.5em;
  }
  & a {
    outline: 0px solid white;
    outline-offset: -1px;
    -webkit-transition: outline 0.1s, outline-offset 0.1s;
    -o-transition: outline 0.1s, outline-offset 0.1s;
    transition: outline 0.1s, outline-offset 0.1s;
  }
  & a:hover {
    outline: 1px solid white;
    outline-offset: 5px;
  }
}

@media (width < 1000px) {
  header {
    gap: 5em;
    padding: 0 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    & .svg-goo {
      height: 120vh;
      height: 120lvh;
    }
    > div {
      margin-top: 25vh;
      margin-top: 25svh;
    }
    .buttons {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
    }
    & h1 {
      font-size: calc(1.5rem + 1vw);
    }
    .phone {
      margin-top: 0;
    }
    & br {
      display: none;
    }
    & p {
      max-width: 50ch;
    }
  }
}

#about {
  padding: 15vh 5vw;
  padding: 15svh 5vw;
  min-height: 100vh;
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  & h2 {
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--large);
    margin-bottom: 1em;
    display: inline;
  }
  & h2 .color {
    background: -o-linear-gradient(195deg, #11998e 30.82%, #38ef7d 105.47%);
    background: linear-gradient(255deg, #11998e 30.82%, #38ef7d 105.47%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .window {
    position: relative;
    width: min(50ch, 90%);
    padding: 6ch 6ch 2ch 6ch;
    border-radius: 2ch;
    background: -o-linear-gradient(356deg, #11998e 0%, #38ef7d 100%);
    background: linear-gradient(94deg, #11998e 0%, #38ef7d 100%);
    font-size: var(--medium);
    margin-bottom: 5em;
  }

  .window p {
    color: white;
  }
  .window div:nth-of-type(1) {
    width: calc(100% - 2ch);
    background-color: white;
    height: 3ch;
    position: absolute;
    top: 1ch;
    left: 1ch;
    border-radius: 1ch 1ch 0 0;
  }
  .window div:nth-of-type(2),
  .window div:nth-of-type(3),
  .window div:nth-of-type(4) {
    width: 1ch;
    aspect-ratio: 1;
    background-color: #38ef7d;
    position: absolute;

    border-radius: 50%;
  }
  .window div:nth-of-type(2) {
    top: 2ch;
    right: 4.5ch;
  }
  .window div:nth-of-type(3) {
    top: 2ch;
    right: 6.5ch;
  }

  .window div:nth-of-type(4) {
    top: 2ch;
    right: 2.5ch;
  }

  .descrips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5vw;
    font-size: var(--medium);
  }
  .descrip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .descrip b {
    margin: 0.8em 0 0.3em 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
  }
  .descrip p {
    width: 30ch;
    color: rgba(0, 0, 0, 0.6);
  }
  & iconify-icon {
    color: rgba(0, 0, 0, 0.8);
    font-size: var(--large);
  }
}

@media (width < 1200px) {
  #about .descrips {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #about .window {
    padding: 6ch 2ch 2ch 2ch;
  }
}

#services {
  color: white;
  position: relative;
  padding: 35vh 5vw 20vh 5vw;
  padding: 35svh 5vw 20svh 5vw;
  min-height: 100vh;
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: var(--medium);
  .svg-goo {
    height: 100%;
  }
  .content {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1em;
    padding-right: 25%;
  }
  & h3 {
    font-size: var(--large);
    font-weight: 700;
  }
  .terms {
    margin-top: 5em;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .term {
    position: relative;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 5em;
  }
  .terms b {
    font-size: calc(var(--medium) * 1.2);
  }
  .terms p {
    width: 23ch;
    margin-top: 0.5em;
  }
  & iconify-icon {
    font-size: var(--large);
    position: absolute;
    top: -10%;
    right: 103%;
    outline: 0.1em solid white;
    outline-offset: -0.15em;
    border-radius: 1em;
  }
}
@media (width < 1200px) {
  #services .content,
  #services .terms {
    width: 100%;
    padding-right: 0;
  }

  #services .term {
    margin-left: 15vw;
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
  }
}
#portfolio {
  padding: 20vh 5vw;
  padding: 20svh 5vw;
  min-height: 100vh;
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: var(--medium);
  & h4 {
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--large);
    margin-bottom: 0.5em;
    display: inline;
  }
  & h4 .color {
    background: -o-linear-gradient(195deg, #11998e 30.82%, #38ef7d 105.47%);
    background: linear-gradient(255deg, #11998e 30.82%, #38ef7d 105.47%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  > p {
    width: 30ch;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 4em;
  }
  .works {
    font-size: var(--small);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    gap: 7%;
  }
  .work {
    border-radius: 1em 1em 0 0;
    position: relative;
    padding: 0.5em 2em 2em 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    -webkit-box-shadow: 0 0 2em rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.25);
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  & img {
    -o-object-fit: contain;
    object-fit: contain;
    aspect-ratio: 1920 / 1080;
    width: 100%;
    margin: 1em 0;
  }
  .work b {
    font-style: normal;
  }
  .work p:nth-of-type(1) {
    font-size: calc(var(--small) * 0.85);
  }
  .work p {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1.5em;
  }
  & a {
    margin-top: auto;
    text-transform: uppercase;
    border-radius: 0.3em;
    color: white;
    text-align: center;
    width: 60%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 0.5em 1em;
    outline-offset: -1px;
    -webkit-transition: outline 0.1s, outline-offset 0.1s;
    -o-transition: outline 0.1s, outline-offset 0.1s;
    transition: outline 0.1s, outline-offset 0.1s;
  }
  & a:hover {
    outline-offset: 5px;
  }

  .work:nth-of-type(1) a {
    background: -o-linear-gradient(181deg, #11998e -450.61%, #38ef7d 100%);
    background: linear-gradient(269deg, #11998e -450.61%, #38ef7d 100%);
    outline: 0px solid #34e77e;
  }
  .work:nth-of-type(1) a:hover {
    outline: 1px solid #34e77e;
  }
  .work:nth-of-type(2) a {
    background: -o-linear-gradient(181deg, #11998e -222.15%, #38ef7d 325.67%);
    background: linear-gradient(269deg, #11998e -222.15%, #38ef7d 325.67%);
    outline: 0px solid #24c485;
  }
  .work:nth-of-type(2) a:hover {
    outline: 1px solid #24c485;
  }
  .work:nth-of-type(3) a {
    background: -o-linear-gradient(181deg, #11998e 0%, #38ef7d 550.87%);
    background: linear-gradient(269deg, #11998e 0%, #38ef7d 550.87%);
    outline: 0px solid #14a18c;
  }
  .work:nth-of-type(3) a:hover {
    outline: 1px solid #14a18c;
  }
  .bottom-border {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.5em;
    border-radius: 0px 0px 1em 1em;
  }
  .work:nth-of-type(1) .bottom-border {
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      color-stop(-232.93%, #11998e),
      to(#38ef7d)
    );
    background: -o-linear-gradient(right, #11998e -232.93%, #38ef7d 100%);
    background: linear-gradient(270deg, #11998e -232.93%, #38ef7d 100%);
  }
  .work:nth-of-type(2) .bottom-border {
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      color-stop(-116.14%, #11998e),
      color-stop(219.81%, #38ef7d)
    );
    background: -o-linear-gradient(right, #11998e -116.14%, #38ef7d 219.81%);
    background: linear-gradient(270deg, #11998e -116.14%, #38ef7d 219.81%);
  }
  .work:nth-of-type(3) .bottom-border {
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      from(#11998e),
      color-stop(334.51%, #38ef7d)
    );
    background: -o-linear-gradient(right, #11998e 0%, #38ef7d 334.51%);
    background: linear-gradient(270deg, #11998e 0%, #38ef7d 334.51%);
  }
}

@media (width < 1200px) {
  #portfolio {
    .works {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .work {
      margin-bottom: 3em;
    }
  }
}

#deals {
  position: relative;
  padding: 20vh 5vw;
  padding: 20svh 5vw;
  min-height: 100vh;
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: var(--medium);
  & h5 {
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--large);
    margin-bottom: 0.2em;
    margin-top: 1em;
    display: inline;
    background-color: white;
    width: min(calc(var(--medium) * 28), 100%);
    text-align: center;
    border-radius: 1.5rem 1.5rem 0 0;
  }
  & h5 .color {
    background: -o-linear-gradient(195deg, #11998e 30.82%, #38ef7d 105.47%);
    background: linear-gradient(255deg, #11998e 30.82%, #38ef7d 105.47%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .svg-goo {
    height: 100%;
  }
  .content {
    background-color: white;
    border-radius: 0 0 1.5rem 1.5rem;
    width: min(28em, 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1.5em 0;
  }
  .content > p:nth-of-type(1) {
    font-weight: 700;
    font-size: calc(var(--small));
    margin-bottom: 0.3em;
  }
  .content > p:nth-of-type(2) {
    font-weight: 700;
    font-size: calc(var(--large) * 0.8);
    margin-bottom: 0.5em;
  }
  .content > p:nth-of-type(2) span {
    font-weight: 700;
    font-size: calc(var(--large) * 0.5);
  }
  .terms {
    translate: 2em;
    margin-bottom: 1em;
  }
  .term {
    margin-bottom: 0.8em;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  & iconify-icon {
    font-size: calc(var(--medium) * 1.4);
    position: absolute;
    top: 0;
    left: -1.5em;
    outline: 0.1em solid black;
    outline-offset: -0.15em;
    border-radius: 1em;
  }
  & .content a {
    font-size: var(--small);
    text-transform: uppercase;
    border-radius: 0.3em;
    color: white;
    text-align: center;
    width: 17ch;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 0.5em 0;
    outline-offset: -1px;
    -webkit-transition: outline 0.1s, outline-offset 0.1s;
    -o-transition: outline 0.1s, outline-offset 0.1s;
    transition: outline 0.1s, outline-offset 0.1s;
    background: -o-linear-gradient(181deg, #11998e -222.15%, #38ef7d 325.67%);
    background: linear-gradient(269deg, #11998e -222.15%, #38ef7d 325.67%);
    outline: 0px solid #24c485;
  }
  & .content a:hover {
    outline-offset: 5px;
    outline: 1px solid #24c485;
  }
  .tag {
    margin-top: 1em;
    font-weight: 600;
    color: white;
    margin-bottom: 3em;
  }
  .tag a {
    margin-left: 1.5em;
    font-size: var(--small);
    font-weight: 400;
    color: white;
    position: relative;
    display: inline-block;
    overflow-x: clip;
  }

  & .tag a::before {
    content: "";
    position: absolute;
    bottom: -0.1em;
    width: 100%;
    left: -100%;
    height: 0.05em;
    background-color: white;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  & .tag a:hover::before {
    left: 0;
  }
}
footer:first-of-type {
  padding: 20vh 3vw 4vw 3vw;
  padding: 20svh 3vw 4vw 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: var(--small);
  > div {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
  }
  > div:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  > div:first-of-type p {
    font-size: calc(var(--small) * 0.85);
    margin-bottom: 1em;
  }
  & form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 22ch;
  }
  & input {
    border-radius: 2em;
    padding: 0.7em 1.3em;
    border: none;
    -webkit-box-shadow: 0px 0.2em 0.5em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0px 0.2em 0.5em rgba(0, 0, 0, 0.25) inset;
    width: 100%;
  }

  & button {
    margin-top: 0.7em;
    color: white;
    background: -o-linear-gradient(355deg, #e27751 0%, #ffa740 100%);
    background: linear-gradient(95deg, #e27751 0%, #ffa740 100%);
    padding: 0.7em 1.3em;
    border-radius: 2em;
    outline: 0px solid #ef8d49;
    outline-offset: -1px;
    -webkit-transition: outline 0.1s, outline-offset 0.1s;
    -o-transition: outline 0.1s, outline-offset 0.1s;
    transition: outline 0.1s, outline-offset 0.1s;
  }
  & button:hover {
    outline: 1px solid #ef8d49;
    outline-offset: 5px;
  }
  .list {
    position: relative;
    gap: 0.4em;
    padding: 0 0 0 3em;
  }
  .list :not(p:first-of-type) {
    color: rgba(0, 0, 0, 0.5);
  }
  .list p:first-of-type {
    margin-bottom: 1em;
  }
  .list::before {
    content: "";
    width: 80%;
    height: 0.05em;
    position: absolute;
    top: 2.25em;
    left: 1.5em;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#e27751),
      to(#ffa740)
    );
    background: -o-linear-gradient(left, #e27751, #ffa740);
    background: linear-gradient(to right, #e27751, #ffa740);
  }
}

footer:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: var(--small);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(-0.69%, #e27751),
    color-stop(99.21%, #ffa740)
  );
  background: -o-linear-gradient(left, #e27751 -0.69%, #ffa740 99.21%);
  background: linear-gradient(90deg, #e27751 -0.69%, #ffa740 99.21%);
  -webkit-box-shadow: 0px 4px 31.2px 0px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0px 4px 31.2px 0px rgba(0, 0, 0, 0.25) inset;
  width: 100vw;
  padding: 1.5em;
  color: white;
  gap: 1em;
  > * {
    text-align: center;
  }
}

@media (width < 1100px) {
  footer:first-of-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    > * {
      margin-bottom: 2em;
      -ms-flex-preferred-size: unset !important;
      flex-basis: unset !important;
      width: 100%;
    }
  }
}

.policies {
  padding: 5vh 2.5vw;
  margin: 5vh 2.5vw;
  padding: 5svh 2.5vw;
  margin: 5svh 2.5vw;
  border: 2px solid black;
}

.policies h1,
.policies h2,
.policies h3,
.policies h4,
.policies h5,
.policies h6,
.policies p,
.policies li:last-of-type {
  margin-bottom: 1em;
}

#contact {
  margin-bottom: 20vh;
  margin-bottom: 20svh;
  padding: 20vh 3vw 0 3vw;
  padding: 20svh 3vw 0 3vw;
  position: relative;
  min-height: 100vh;
  min-height: 100svh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  & h1 {
    font-size: var(--large);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 111%;
    position: relative;
    color: white;
  }
  & p {
    font-size: var(--medium);
    color: white;
    margin: 0.5em 0 2em 0;
    text-align: center;
  }
  .svg-goo {
    height: 120%;
  }
  & form {
    width: min(50ch, 95%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1em;
  }
  & input,
  textarea {
    font-size: var(--small);
    border-radius: 2em;
    padding: 0.7em 1.3em;
    border: none;
    -webkit-box-shadow: 0px 0.2em 0.5em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0px 0.2em 0.5em rgba(0, 0, 0, 0.25) inset;
  }
  & form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    gap: 1em;
  }

  & form div > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  & button {
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: var(--small);
    color: white;
    background: -o-linear-gradient(355deg, #e27751 0%, #ffa740 100%);
    background: linear-gradient(95deg, #e27751 0%, #ffa740 100%);
    padding: 0.7em 1.3em;
    border-radius: 2em;
    outline: 0px solid #ef8d49;
    outline-offset: -1px;
    -webkit-transition: outline 0.1s, outline-offset 0.1s;
    -o-transition: outline 0.1s, outline-offset 0.1s;
    transition: outline 0.1s, outline-offset 0.1s;
    width: 10ch;
  }
  & button:hover {
    outline: 1px solid #ef8d49;
    outline-offset: 5px;
  }
}

@media (width < 700px) {
  #contact {
    & form div {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
}
